@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-tertiary-100 text-black dark:bg-black dark:text-white;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@layer base {
  p {
    @apply mb-4;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.line-clamp-fallback {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}